venv
testing
.env
PythonGrpc
TaskMaster
tasks

node_modules/
__pycache__
image_processing/yolov5n.pt
queue.db
node_modules/
cloud_config
Node/.env

image_processing/test.py

image_processing/d.mp4
image_processing/t2.py

download_files.py
yolov8n.pt
assets/
index1.html
.vscode/